<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Nieprawidłowy link aktywacyjny</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="activation-container">
        <h2>Link aktywacyjny jest nieprawidłowy!</h2>
        <p>Przepraszamy, ale link aktywacyjny jest nieprawidłowy lub wygasł.</p>
        <p>Proszę spróbować ponownie zarejestrować się lub skontaktować z administratorem.</p>
    </div>
</body>
</html>
