<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje rezerwacje</title>
    <link rel="stylesheet" href="{% static 'css/my_reservations.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="container">
        <header>
            <button onclick="window.location.href='/profile/'" class="back-button">Wróć</button>
            <h1>Moje rezerwacje</h1>
        </header>

        <main>
           <div class="reservation-list">
    {% for reservation in reservations %}
        <div class="reservation-item">
            <p><strong>Usługa:</strong> {{ reservation.service_name }}</p>
            <p><strong>Opcja:</strong> {{ reservation.option_name }}</p>
            <p><strong>Data rozpoczęcia:</strong> {{ reservation.start_date }}</p>
            {% if reservation.end_date %}
                <p><strong>Data zakończenia:</strong> {{ reservation.end_date }}</p>
            {% endif %}
            <p><strong>Status:</strong> <span class="status {{ reservation.status }}">{{ reservation.status }}</span></p>

            <div class="actions">
                {% if reservation.status != 'cancelled' %}
                    <form action="{% url 'cancel_reservation' reservation.id %}" method="post" class="cancel-form">
                        {% csrf_token %}
                        <button type="submit" class="cancel-button">Usuń rezerwację</button>
                    </form>
                {% endif %}
            </div>

        </div>
    {% endfor %}
</div>
        </main>
    </div>
</body>
</html>
