<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Resetowanie hasła zakończone</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="form-box">
            <h2>Hasło zresetowane</h2>
            <p>Twoje hasło zostało pomyślnie zmienione. Możesz teraz się zalogować.</p>
            <div class="links">
                <p><a href="{% url 'login' %}">Przejdź do logowania</a></p>
            </div>
        </div>
    </div>
</body>
</html>
