<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Resetowanie hasła</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="form-box">
            <h2>Resetowanie hasła</h2>
            <form method="POST">
                {% csrf_token %}
                <p>Wprowadź swój adres e-mail, aby otrzymać link do zresetowania hasła:</p>
                <div class="input-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn-submit">Wyślij link resetujący</button>
            </form>

            {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
            <div class="links">
                <p><a href="{% url 'login' %}">Powrót do logowania</a></p>
            </div>
        </div>
    </div>
</body>
</html>
