<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ustaw nowe hasło</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="form-box">
            <h2>Ustaw nowe hasło</h2>
            <form method="POST">
                {% csrf_token %}

                <!-- Wyświetlanie ogólnych błędów formularza -->
                {% if form.non_field_errors %}
    <div class="error-message">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

                <!-- Wyświetlanie pól formularza -->
                {{ form.as_p }}

                <button type="submit" class="btn-submit">Zmień hasło</button>
            </form>
        </div>
    </div>
</body>
</html>
